@import 'styles/Variables.scss';

html, body {
  background: $background;
  color: $color;
  font-family: sans-serif;
  color-scheme: dark;
  margin: 0px;
  padding: 0px;
}

body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
table {
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid white;
}

table tr:last-child {
  border: 0;
}

.navbar {
  padding: $padding;
  margin-bottom: 10px;
}

.navbar.navbar-dark.bg-dark {
  background: $card !important;
}