@import 'styles/Variables.scss';

.heading {
  text-align: center;
}

.card {
  background: $card;
  padding: $padding;
  margin: $margin;
  margin-left: 0px;
  border-radius: $borderRadius;
  box-shadow: 0px 0px 10px 2px black;
  display: inline-block;
  white-space: nowrap;
}

.cardClickable {
  cursor: pointer;
}

.cardClickable:hover {
  background: lighten($card, 10%)
}

.cardLight {
  width: calc(100% - $padding * 2);
  background: $cardLight;
  padding: $padding;
  margin: $margin;
  border-radius: $borderRadius;
  box-shadow: 0px 0px 10px 2px black;
  display: inline-block;
  cursor: pointer;
}

.cardLight:hover {
  background: lighten($cardLight, 10%)
}

.inGameScores {
  cursor: default;
}
.inGameScores:hover {
  background: $cardLight
}

.pitches {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.currentPitch {
  transition: 0.2s ease-out;
}

.games {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex: auto;
  overflow-x: auto;
  padding: 5px;
  margin-bottom: 15px;
}

.score > tr > td {
  padding-right: 20px;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  position: fixed;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: block;
  width: 64px;
  height: 64px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logocontainer {
  background: #444444;
  border-radius: 20%;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 1px black;
  display: flex;
  align-items: center;
}

.table {
  padding-left: 10px;
  padding-right: 10px;
}

.playByPlayPlays {
  display: inline-flex;
  flex-direction: column;
  overflow: auto;
  background: $card;
  border-radius: $borderRadius;
  padding: $padding;
  height: calc(100vh - 90px);
  margin: 10px;
  width: 20vw;
  min-width: 300px;
  overflow-y: auto;
}

.scores {
  display: inline-flex;
  flex-direction: column;
  overflow: auto;
  background: $card;
  border-radius: $borderRadius;
  padding: $padding;
  height: calc(100vh - 90px);
  margin: 10px;
  width: 35vw;
  min-width: 600px;
  overflow-y: auto;
}

.boxscore {
  display: inline-flex;
  flex-direction: column;
  overflow: auto;
  background: $card;
  border-radius: $borderRadius;
  padding: $padding;
  height: calc(100vh - 40px);
  margin: 10px;
  width: 20vw;
  min-width: 300px;
  overflow-y: auto;
  float: right;
  position: absolute;
  right: 0;
}

.league {
  width: 25%;
  padding-left: 10px;
  display: inline-block;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .league {
    width: 100%;
  }
  .playByPlayPlays {
    height: calc(100vh - 144px);
    width: calc(100vw - 40px);
  }

  .scores {
    min-width: 0px;
    width: calc(100vw - 40px);
    display: none;
    height: calc(100vh - 144px);
  }

  .inGameScores {
    width: calc(100% - 60px);
  }

  .awayBoxscore {
    border: 1px solid white;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    overflow-x: scroll;
    display: block;
  }

  .centerButtons {
    text-align: center;
    padding: 5px;
  }

  .changeButton {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    background: $card;
    cursor: pointer;
  }
  .changeButton:hover {
    background: lighten($card, 10%);
  }

  .buttonActive {
    background: #555555;
  }

  .buttonActive:hover {
    background: lighten(#555555, 10%);
  }
}


@media (min-width: 1000px) {
  .liveGameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .centerButtons {
    display: none;
  }
  
  .scores {
    display: block !important;
  }
  .playByPlayPlays {
    display: block !important;
  }
}

.tableInlineBlock {
  vertical-align: top;
  padding-left: 10px;
  display: inline-block;
}

.tableLinescore {
  max-width: 150px;
  table-layout: fixed;
  overflow-x: auto;
  margin-bottom: 20px
}

.centerPaddingTable {
  padding: 5px;
  text-align: center;
}

.homeBoxscore {
  border: 1px solid white;
  margin-top: 20px;
}

.awayBoxscore {
  border: 1px solid white;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
  overflow-x: scroll;
}

.nameBoxscore {
  padding-right: 20px;
  padding-left: 10px;
}

.smallPadding {
  padding-right: 2px;
  padding-left: 2px;
}

.linescore {
  border: 1px solid white;
}

.division {
  padding: 5px;
  padding-right: 0px;
}